/* Estilo para map.html */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Cor de fundo em tom de cinza claro */
    margin: 0;
    padding: 0;
  }
  
  h3 {
    text-align: center;
    color: #228B22; /* Verde escuro */
  }
  
  #map {
    height: 400px;
    width: 100%;
    background-color: #fff; /* Fundo branco */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
  }
  
  a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #228B22; /* Verde escuro */
    text-decoration: none;
  }
  
  a:hover {
    color: #4CAF50; /* Verde mais claro no hover */
  }
  